@{
	this.Layout="/Views/Shared/_Layout.cshtml";
	ViewData["title"] = "HOME";
}
 <!-- Info Cards Section -->
                    <h1>Dashboard</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active"><a href="#">Index</a></li>
                        </ol>
                    </nav>
                    <div class="row pb-4">

                        <div class="col-xl-4 col-md-4 col-sm-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Working hours (This month)
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">4830</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Earnings (Annual)
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">1,215,000 BGN</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-yellow text-uppercase mb-1">
                                                Tasks
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">70%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-yellow" role="progressbar"
                                                             style="width: 70%" aria-valuenow="70" aria-valuemin="0"
                                                             aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End ofInfo Cards Section -->
                    <!-- Dashboard/ Calendar Section -->
                    <div class="row py-4">
                        <!-- Calendar -->
                        <div class="col-12 col-lg-6">
                            <div class=" card shadow px-3 py-3 text-center mb-3">
                                <iframe class="img-fluid" src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=Europe%2FSofia&showTitle=1&src=c3R1MjAwMTMyMTA0MkB1bmktcGxvdmRpdi5iZw&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=Y19jbGFzc3Jvb200NmNkM2ZkOEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Y19jbGFzc3Jvb201OGMwNTg5OUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Y19jbGFzc3Jvb20xNWUyOGYzNEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Y19jbGFzc3Jvb203MzdhMWFjNkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Y19jbGFzc3Jvb20zMWRkNmJmOEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Y19jbGFzc3Jvb21kZDkzOTA2ZkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Y19jbGFzc3Jvb202Y2FjZWExN0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=YmcuYnVsZ2FyaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=Y19jbGFzc3Jvb204ZWMyMzUxMUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Y19jbGFzc3Jvb21kOTgyMzJmNkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%2333B679&color=%23b80672&color=%23174ea6&color=%230047a8&color=%23202124&color=%23007b83&color=%230047a8&color=%230047a8&color=%230B8043&color=%230047a8&color=%23202124"></iframe>
                            </div>
                        </div>
                        <!-- Dashboard -->
                        <div class="col-12 col-lg-6 text-center justify-content-between flex-wrap">
                            <div class="card shadow py-3">
                                <h2 id="admin_hl">Dashboard - Working hours 2022/2021</h2>
                                <div class="btn-toolbar mb-2 mb-md-0">
                                    <div class="btn-group me-2">
                                        <button type="button" class="btn btn btn-outline-secondary">Share</button>
                                        <button type="button" class="btn btn btn-outline-secondary">Export</button>
                                    </div>
                                    <button type="button" class="btn btn-outline-secondary dropdown-toggle">
                                        <span data-feather="calendar"></span>
                                        This year
                                    </button>
                                </div>
                                <div class="card-body">
                                    <canvas class="img-fluid my-4 w-100" id="myChart" width="900" height="380"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Dashboard/ Calendar Section -->	